.about-section {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  height: auto;
  width: var(--cWidth);
  margin: auto;
  padding: 80px 0;
}
.about-me {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  box-sizing: border-box;
}
.about-me h3 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  color: var(--accentColor);
  margin-bottom: 20px;
}

.about-me p {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #d4d4d4;
}

@media only screen and (min-width: 600px) {
  .about-section {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .about-me {
    max-width: 600px;
  }
  .about-me p {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    justify-content: right;
    max-width: 1920px;
    padding: 120px 0;
  }
  .about-me {
    width: 45%;
    padding: 0;
  }
  .about-me p {
    font-size: 1.5vw;
    line-height: 1.7;
  }
}
@media only screen and (min-width: 1950px) {
  .about-me p {
    font-size: 2rem;
    line-height: 1.7;
  }
}
